.lang_section {
    background-color: black;
    width: 150px;
    text-align: center;
    position: absolute;
    right: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.lang_section h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 8px 0;
    color: white;
    font-weight: 400;
}
.lang_section h6 > svg {
    margin-top: 3px;
}
footer > .container-fluid.footer_bottom > div > .footer_policy > div > div > div {
    position: relative;
}
footer > .container-fluid.footer_bottom > div > .footer_policy > div > div > div h6 {
    justify-content: flex-start;
}
@media (max-width: 992px) {
    .lang_section {
        position: static;
        margin-bottom: 12px;
    }
    footer > .container-fluid.footer_bottom > div > .footer_policy > div > div > div {
        position: relative;
        margin: 0 auto;
        padding-left: 52px;
    }
}