.infinite_text_cont {
    width: 100%;
    background: transparent;
    overflow: hidden;
    height: auto;
    height: 400px;
}
.moving_text_wrapper {
    width: 172%;
    height: 100%;
    position: relative;
    top: 96px;
    z-index: 0;
}
.moving_text {
    width: 172%;
    display: flex;
    animation: moveText 12s linear infinite;
}
.moving_text span {
    width: 50%;
    white-space: nowrap;
    font-size: 15rem;
    color: rgb(19, 255, 190);
}
@keyframes moveText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
@media (max-width: 1560px) {
    .moving_text span {
        font-size: 12.5rem;
    }
    .moving_text_wrapper {
        width: 170%;
    }
    .moving_text {
        width: 170%;    
    }
}
@media (max-width: 1400px) {
    .moving_text span {
        font-size: 11.5rem;
    }
    .moving_text_wrapper {
        width: 180%;
    }
    .moving_text {
        width: 180%;    
    }
}
@media (max-width: 1150px) {
    .moving_text span {
        font-size: 11.5rem;
    }
    .moving_text_wrapper {
        width: 200%;
    }
    .moving_text {
        width: 200%;    
    }
}
@media (max-width: 992px) {
    .moving_text span {
        font-size: 10rem;
    }
    .moving_text_wrapper {
        width: 280%;
    }
    .moving_text {
        width: 280%;    
    }
}
@media (max-width: 768px) {
    .moving_text span {
        font-size: 10rem;
    }
    .moving_text_wrapper {
        width: 210%;
    }
    .moving_text {
        width: 210%;    
    }
}
@media (max-width: 576px) {
    .moving_text span {
        font-size: 7.5rem;
    }
    .moving_text_wrapper {
        width: 210%;
    }
    .moving_text {
        width: 210%;    
    }
}
@media (max-width: 450px) {
    .moving_text span {
        font-size: 7.5rem;
    }
    .moving_text_wrapper {
        width: 250%;
    }
    .moving_text {
        width: 250%;    
    }
}