#logo {
    height: 48px;
    width: 150px;
    margin-left: 5%;
}
#logo img {
    height: 100%;
    width: 100%;
}
.navbar-nav .nav-link {
    color: black;
}
.navbar-nav .nav-link.dropdown-toggle:focus, 
.navbar-nav .nav-link.dropdown-toggle:hover {
    box-shadow: none;
}
.nav-link.active {
    position: relative;
    /* text-decoration: underline; */
}
.nav-link.active::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
}
.nav-item {
    position: relative;
}
.nav-item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
    z-index: 2;
    will-change: transform;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.35s cubic-bezier(0.24, 0.28, 0.63, 1);
}
.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.dropdown-menu {
    background-color: black!important;
    --bs-dropdown-link-active-color: black!important;
    --bs-dropdown-link-active-bg: transparent!important;
    --bs-dropdown-link-hover-bg: none!important;
    --bs-dropdown-min-width: 100px!important;
}
.navbar .dropdown-menu .dropdown-item {
    color: white;
}
#navbarNavDropdown > ul > li.nav-item.dropdown > div > a {
    padding-left: 8px;
}
.navbar .dropdown-menu .dropdown-item.active {
    text-decoration: underline;
    position: relative;
}
#navbarNavDropdown > ul {
    padding-left: 8%;
    gap: 32px;
}
#navbarNavDropdown > ul li a {
    padding: 0;
    line-height: 32px;
}