.down_butt {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}
.down_butt .app_android {
    padding: 10px 24px;
    background-color: white;
    border-radius: 30px;
}
.down_butt .app_android a {
    color: black;
}
.down_butt .app_apple {
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: black;
}
.down_butt .app_apple a {
    color: white;
}
.down_butt .app_android a,
.down_butt .app_apple a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.hh_2 > div .app_android,
.home_safety_sub .hs_sub_right .app_android {
    background-color: transparent;
    border: 1px solid black;
}
.hh_2 > div .app_apple,
.home_safety_sub .hs_sub_right .app_apple {
    border: none;
}
.repetitive_hero .rh_left > div > div > div .app_android {
    border: 1px solid black;
}
@media (max-width: 992px) {
    .down_butt {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .repetitive_hero .rh_left > div > div > div .app_android {
        background-color: black;
    }
    .repetitive_hero .rh_left > div > div > div .app_android a {
        color: white;
    }
    .repetitive_hero .rh_left > div > div > div .app_apple {
        border: none;
    }
}
@media (max-width: 576px) {
    .repetitive_hero .rh_left > div > div > div .app_android {
        background-color: white;
    }
    .repetitive_hero .rh_left > div > div > div .app_android a {
        color: black;
    }
}