.down_butt {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}
.down_butt .app_android {
    padding: 10px 24px;
    background-color: white;
    border-radius: 30px;
}
.down_butt .app_android a {
    color: black;
}
.down_butt .app_apple {
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: black;
}
.down_butt .app_android a,
.down_butt .app_apple a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
@media (max-width: 992px) {
    .down_butt {
        justify-content: center;
    }
}