body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  scroll-behavior: smooth;
  /* font-family: "Matter", sans-serif!important; */
}
body ul,
body a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  body {
   font-size: 14px;
  }
}
@media (max-width: 576px) {
  body {
   font-size: 12px;
  }
}
